.header {
    background-color: #f6ab39;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;

}

.message {
    width: 60px;
    height: 60px;
    background-color: #f6ab39;
    bottom: 20px;
    right: 20px;
    border-radius: 60px;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.firstRow {
    flex: 1;
}

.secondRow {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;


}

.search {
    display: flex;
    flex: 0.985;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    background-color: white;
}
.search div
{
    display: flex;
    align-items: center;
}
.int {
    display: flex;
    width: 100%;
    height: 30px;
    border-width: 0px;
    border-radius: 15px;
    border-style: none;
    outline: none;

}

.inptVoice {

    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.2s ease all;
    cursor: pointer;
}

.thirdRow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.inptVoice:hover {
    background-color: #5e5d5d;
}

.inptVoice:hover svg path {
    fill: white;
}

.basket {
    margin-left: 161px;
}

.sign {
    width: 50px;
    height: 18px;
    margin-left: 33px;
    color: white;
    transition: 0.2s ease all;
    font-family: "Lato", sans-serif;
}

.sign:hover {
    color: #5e5d5d;
}

.showCurrencyTop {
    margin-left: 44px;
    display: flex;
    position: relative;
    align-items: center;
}

.currency {
    width: 25px;
    height: 25px;
    border-radius: 60px;

    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.vectorCurrency {
    margin-left: 3.67px;
    cursor: pointer;
}

.topLanguage {
    margin-left: 38.48px;
    align-items: center;
    display: flex;
    position: relative;
}

.language {
    cursor: pointer;
    z-index: 3;
}

.language ul li {
    text-decoration: none;
    color: white;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}

.vectorLanguage {
    margin-left: 5px;
    cursor: pointer;
}

.showLanguage {
    position: absolute;
    top: 40px;
    width: 35px;
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    justify-content: center;
    left: -5px;

}

.showLanguage ul li {
    display: block;
}

.showLanguage ul li a {
    padding: 10px;
    color: #646363;
    text-align: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    display: flex;
    background-color: #f2f2f2;
    line-height: 100%;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.showLanguage ul li a:hover ,.showCurrency ul li:hover{
    color: white;
    background-color: #646363;
    transition: 0.2s ease all;
}

.showCurrency {
    position: absolute;
    left: -8px;
    top: 42px;
    cursor: pointer;
    z-index: 3;
}

.firstRow {
    flex: 1;
}

.showCurrency ul li {
    list-style: none;
    height: 30px;

    display: flex;
    align-items: center;
    color: #646363;
    font-weight: 600;
    width: 58px;

    font-family: "Lato", sans-serif;
    font-size: 10px;
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 0 3px;
}

.showCurrency li span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
}

