.mainContainer{
    width: 100%;
    height: 388px;
    display: flex;
    margin-top: 20px;
    
}


.previousbtn{
  display: flex;
  width: 43px;
  height: 43px;
  border-radius: 60px;
  margin-top: 144px;
  margin-left: 1.666%;
  cursor: pointer;
 
}


.nextbtn{
  display: flex;
  width: 43px;
  height: 43px;
  border-radius: 60px;
  margin-left: 1.8%;
  margin-top: 144px;
  cursor: pointer;
}

.largeLayout{
  width: 87.63%;
  height: 366px;
  margin-left: 1.45%;
  margin-top: 15px;
  position: relative;
  overflow: hidden !important;
}





.slider{
  transition: transform 0.3s;
  display: flex;

}



.card{
  min-width: 16.16%;
  height: 286px;
  margin-top: 35px;
  margin-left: 4%;
  display: flex;
  flex-wrap: wrap;
}



.imageCard{
  width: 100%;
  height: 210px;
  overflow: hidden !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.waterMark{
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  
}


.title{
  width: 100%;
  height: 27px;
}

.titleSpan{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.price{
  width: 100%;
  height: 10px;
  margin-top: 8px;
}


.priceSpan{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #313538;
  font-weight: 900;
}

.raiting{
  width: 100%;
  height: 12px;
  margin-top: 8px;
}


.raitingSpan{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #646363;
}


.basketButton{
  margin-top: 40px;
  margin-left: 90px;
}


 

  